@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#main {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .day {
    background: linear-gradient(to bottom left, #d7d3ac, #ffffff);
  }
  .night {
    background: linear-gradient(to bottom left, #4854a2, #3d3d3d);
    color: white;
  }
  .container {
    max-width: 450px !important;
    min-width: 360px;
    padding-bottom: 100px;
  }
  .weatherImage {
      width: 100%;
      height: auto;
      opacity: 0.8;
  }
  h1 {
      position: relative;
      top: -50%;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-weight: 900 !important;
      font-size: 60px !important;
      color: #202020;
  }
  .notFound {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 40px !important;
      font-family: 'Roboto', sans-serif;
      font-weight: 700 !important;
  }
  .title {
    font-size: 50px;
    font-weight: 500;
  }
  
  .form-rounded {
    border-radius: 2rem;
  }
  .back-card {
    border-radius: 40px !important;
    color: white;
    background: linear-gradient(to bottom, #80AAEB, #80AAEB, #80AACB);
    text-shadow: 2px 2px 2px #707070;
  }
  
  .city-name {
    position: absolute;
    width: 100%;
  }
  
  .city-name p {
    font-weight: 400;
    font-size: 16pt;
  }
  
  .city-name span {
    position: relative;
    top: -50px;
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
  }

  .temp {
      margin-bottom: 30px;
  }

  .wind {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
  
  .temp span {
    font-weight: 100;
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
  }
  .card-mid {
    line-height: 0.5;
  }
  .condition {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
  }
  
  .high {
    font-size: 15px;
  }
  
  .low {
    font-size: 15px;
  }
  
  .card-bottom p {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -3px;
  }
  .card-bottom {
    line-height: 0.5;
  }
  
  .card-bottom span {
    font-size: 12px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;

}
  .clearSky {
      background-color: #80AAEB;
  }