
[icon] {
  display: none;
  overflow: hidden;
}

[icon]::after {
  content: attr(data-label);
  left: 50%;
  transform: translateX(-50%);
  font: inherit;
  font-size: 0.15em;
}

[icon='sunny'] {
  display: block;
}

[icon='rainy'] {
  display: block;
}

[icon='cloudy'] {
  display: block;
}

[icon='snowy'] {
  display: block;
}

[icon='stormy'] {
  display: block;
}

[icon='nightmoon'] {
  display: block;
}